.h-full{
    height: 750px;
}
.sendBtn{
    font-size: 25px !important;
    color:#157ad0f5 !important;
}
.chat-bar{
   background-image: url('../images/fox.jpg');
   background-size: contain;
   opacity: 0.7;
}
.chat_historyTab{
    background-color: aliceblue;
}
.chatRoom{
    margin-top: 100px;
}